@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

:root {
    --ff-1: 'Balsamiq Sans', sans-serif;
    --f-color-1: rgb(215, 215, 230);
    --f-color-2: rgb(71, 69, 69);
    --f-color-3: #ca6bbc;
    --f-size-1: 1.4em;
}

* {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: cadetblue;
}

.left_container {
    height: 100vh;
    width: 25%;
    overflow: hidden;
    background-color: cadetblue;

}

.right_container {
    margin: 1vw;
    height: auto;
    width: 100%;
    overflow: hidden;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/030/659/295/small/minimalistic-desktop-background-high-quality-free-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: visible;
    border-radius: 1vw;
}

.upper_right_container {
    height: 90%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: transparent;
    border-bottom: 0.069vw solid black;
}


.lower_right_container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0vw 1vw;
}

img {
    opacity: 1;
    filter: blur(5px);
}

.aps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.formss {
    border: none;
    height: 3vw;
    width: 72vw;
    background-color: transparent;
    font-size: 2vw;
    padding-left: 2vw;
    outline: none;
}

.formss::placeholder{
    font-size: var(--ff-1);
}

.aryan {
    font-family: var(--ff-1);
    font-size: 3em;
    color: darkblue;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.aps {
    font-family: var(--ff-1);
    font-size: 35px;
    background-color: transparent;
    margin: 2vw 2vw;
    background-color: aquamarine;
    border-radius: 2vw;
    opacity: 0.7;
}

.conty {
    background-color: transparent;
    border-radius: 0.5vw;
    border: 0.069vw solid black;
    margin: 0.5vw;
}

@media screen and (max-width: 1024px){

    .container{
        overflow-y: hidden !important;
    }

    .left_container{
        display: none !important;
    }

    .right_container{
        height: 99vh !important;
    }

    .upper_right_container{
        height: 88vh;
    }

    .lower_right_container{
        height: 12vh;
    }

    .formss{
        height: 6vh;
        width: 90vw;
        font-size: 1.5em;
    }
}