{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatbot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'interface.css'%}">
  <link rel="stylesheet" href="{% static 'review.css'%}">
  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
  <nav class="navbar" data-navbar>
    <ul class="navbar-list">

      <li class="navbar-item">
        <a href="{% url 'interface' %}" class="navbar-link">Home</a>
      </li>

      <li class="navbar-item">
        <a href="{% url 'home' %}" class="navbar-link">Library</a>
      </li>

      <li class="navbar-item">
        <a href="#" class="navbar-link">Host</a>
      </li>

      <li class="navbar-item">
        <a href="#" class="navbar-link">Blog</a>
      </li>

      <li class="navbar-item">
        <a href="#footer" class="navbar-link">Contact</a>
      </li>

    </ul>

    <div class="navbar-actions">

      <button class="navbar-btn">
        <ion-icon name="search-outline"></ion-icon>
      </button>

      <button class="navbar-btn">
        <ion-icon name="log-in-outline"></ion-icon>
      </button>

      <button class="navbar-btn">
        <ion-icon name="cart-outline"></ion-icon>
      </button>






    </div>
  </nav>


  <div class="container_d">
    <div class="content">
      <h1 class="header_a">Augur</h1>
      <p class="text">Your path to Mental Wellness</p>
      <div class="icon_box">
        <div class="icon_d"><a>
            Anonymous
          </a></div>
        <div class="icon_d"><a>
            Free
          </a></div>
        <div class="icon_d"><a>
            Secure
          </a></div>
        <div class="icon_d"><a>
            24/7
          </a></div>
      </div>
      <div class="description">
        Mental pain is less dramatic than physical pain, but it is more common and also much harder to
        bear.Mental health is the foundation for emotions, thinking, communication, learning, resilience, hope,
        and self-esteem.
      </div>
      <a href="{% url 'chatbot' %}"> <button class="augur_btn">Talk to Augur</button></a>
    </div>
    <div class="chatbot_img">
      <img class="chat_img" src="./assets/images/WhatsApp Image 2024-02-08 at 5.45.39 PM.jpeg" alt="">
    </div>
  </div>
  <div class="features">
    <div class="section">
      <div class="row">
        <h1>Our Features</h1>
      </div>
      <div class="row">
        <!-- Column One -->
        <div class="column" id="card_1">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <h3>User Friendly</h3>
            <p>
              Offering intuitive navigation, clear instructions, and a visually appealing layout. It
              prioritizes accessibility, providing a positive and efficient experience for users of all
              levels of expertise.
            </p>
          </div>
        </div>
        <!-- Column Two -->
        <div class="column" id="card_2">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-shield-halved"></i>
            </div>
            <h3>Safe Space For Open Expression</h3>
            <p>
              Our app will provides a confidential and non-judgmental environment where user can freely
              express there thoughts and feelings without fear. There privacy will be top-most priority
              and will not be shared with anyone.
            </p>
          </div>
        </div>
        <!-- Column Three -->
        <div class="column" id="card_3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-headset"></i>
            </div>
            <h3>Quick Support</h3>
            <p>
              Provide 24/7 personalized mental health support to each and every students in colleges
              through a user- friendly app interface and reduce mental stress among college students
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review_section">
    <div class="main">
      <section class="container_2">
        <div class="title">
          <h2>Thoughts</h2>
        </div>
        <div class="border_box">
          <article class="review">
            <i class="fa-solid fa-quote-left fa-4x" id="person-img"></i>
            <p id="info">
              Mental Health Review Journal (MHRJ) is a vital source of current thinking on the research, policy and
              practice of mental health service delivery, bringing together research and practice perspectives.
            </p>
            <div class="button-container">
              <button class="prev-btn btn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="next-btn btn">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
  <footer>

    <div id="footer" class="footer-top">
      <div class="container">

        <div class="footer-brand">
          <a href="#" class="logo">

          </a>
          <h1 class="AUGUR">AUGUR</h1>
          <br>

          <p class="footer-text">

            Mental illnesses are health conditions involving changes in emotion, thinking or behavior (or a combination
            of these). Mental illnesses can be associated with distress and/or problems functioning in social, work or
            family activities.
          </p>
        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-link-title">Start A Conversation</p>
          </li>

          <li>
            <a href="mailto:hello@micro.com" class="footer-link">hello@micro.com</a>
          </li>

          <li>
            <a href="tel:+0123454678" class="footer-link">+01234 54678</a>
          </li>

          <li>
            <a href="tel:+15780346789" class="footer-link">+1 (578) 034-6789</a>
          </li>

        </ul>

        <div class="social-list-box">

          <p class="social-title">Follow Us On:</p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-soundcloud"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-apple"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2024 <a href="#">Brahmaputra Hostel</a>. All Rights Reserved
        </p>
      </div>
    </div>

  </footer>


  <script src="./assets/js/review.js"></script>

</body>

</html>